.navbody {
	MARGIN: 9px 0px 10px 10px; COLOR: #ff0000; BACKGROUND-COLOR: #f0f0f0
}
.navbody FORM {
	MARGIN: 0px
}
.navbody LI {
	FONT-FAMILY: Verdana, Helvetica, sans-serif
}
.navbody P {
	FONT-FAMILY: Verdana, Helvetica, sans-serif
}
.navbody SELECT {
	FONT-FAMILY: Verdana, Helvetica, sans-serif
}
.navbody TD {
	FONT-FAMILY: Verdana, Helvetica, sans-serif
}
.navbody TH {
	FONT-FAMILY: Verdana, Helvetica, sans-serif
}
.navbody EM {
	COLOR: #ff0000; FONT-STYLE: normal
}

.navbody H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; MARGIN: 0px 0px 11px; COLOR: #808080; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.navbody A {
	COLOR: #1a5e80; TEXT-DECORATION: none
}
.navbody A:link {
	COLOR: #1a5e80; TEXT-DECORATION: none
}
.navbody A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.navbody A:active {
	COLOR: #1a5e80; TEXT-DECORATION: none
}
.navbody A.navBar1 {
	COLOR: #1a5e80; TEXT-DECORATION: none
}
.navbody A.navBar1:link {
	COLOR: #1a5e80; TEXT-DECORATION: none
}
.navbody A.navBar1:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.navbody A.navBar1:active {
	COLOR: #1a5e80; TEXT-DECORATION: none
}
.navbody A.navBar2 {
	COLOR: #666666; TEXT-DECORATION: none
}
.navbody A.navBar2:link {
	COLOR: #666666; TEXT-DECORATION: none
}
.navbody A.navBar2:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.navbody A.navBar2:active {
	COLOR: #666666; TEXT-DECORATION: none
}


.navbody A.highlight:hover {
	BACKGROUND-COLOR: #ffcc00
}
.navbody P.help {
	MARGIN: 13px 0px; WIDTH: 550px
}
.navbody SELECT {
	MARGIN-TOP: 1px; MARGIN-BOTTOM: 1px; COLOR: #000000
}
.navbody TD.pageTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 10px; COLOR: #999999
}
.navbody TD.horizLine {
	BACKGROUND-COLOR: #cccccc
}

.navbody TD.caption {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 6px; COLOR: #666666; PADDING-TOP: 4px
}
.navbody TD.level1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #1a5e80; PADDING-TOP: 8px
}
.navbody TD.level2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; WIDTH: 162px; COLOR: #808080; PADDING-TOP: 0px
}


.navbody TD.level3 {
	FONT-WEIGHT: normal
}
.navbody TD.space {
	FONT-SIZE: 11px; WIDTH: 8px
}
.navbody TD.space1 {
	FONT-SIZE: 11px; WIDTH: 11%
}
.navbody TD.selected {
	BACKGROUND-COLOR: #ffffff
}

.navbody TD.subTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #666666
}


.navbody TD.navBar {
	PADDING-RIGHT: 0px; PADDING-LEFT: 9px; PADDING-BOTTOM: 9px; VERTICAL-ALIGN: top; WIDTH: 165px; PADDING-TOP: 9px; BACKGROUND-COLOR: #d8d8d8
}
.navbody TD.noBorder {
	BORDER-RIGHT: #ffffff 0px; BORDER-TOP: #ffffff 0px; BORDER-LEFT: #ffffff 0px; BORDER-BOTTOM: #ffffff 0px
}
.navbody TD.checkbox {
	BORDER-BOTTOM: #cccccc 1px solid
}
.navbody TD.list {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 21px
}
.navbody TD.grid {
	BACKGROUND-IMAGE: url(../images/grid20.gif); BORDER-BOTTOM: #999999 1px solid
}
.navbody TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; HEIGHT: 21px; BACKGROUND-COLOR: #817e7e
}

.navbody A.selected1 {   
	FONT-SIZE: 12px; COLOR: #669999; TEXT-DECORATION: none   
}   
.navbody A.selected1:link {   
	FONT-SIZE: 12px; COLOR: #669999; TEXT-DECORATION: none   
}   
.navbody A.selected1:hover {   
	FONT-SIZE: 12px; COLOR: #669999; TEXT-DECORATION: underline   
}   
.navbody A.selected1:active {   
	FONT-SIZE: 12px; COLOR: #669999; TEXT-DECORATION: none   
}   
.navbody A.selected2 {   
	COLOR: #1a5e80; TEXT-DECORATION: none   
}   
.navbody A.selected2:link {   
	COLOR: #1a5e80; TEXT-DECORATION: none   
}   
.navbody A.selected2:hover {   
	COLOR: #1a5e80; TEXT-DECORATION: underline   
}   
.navbody A.selected2:active {   
	COLOR: #1a5e80; TEXT-DECORATION: none   
} 

